<%- include('../partials/admin-head') %>
<body>
    <header>
        <nav class="nav-bar">
            <div class="top-nav-bar">
                <div class="top-nav-bar-left">
                    <a href="/">
                        <img src="/images/logo-transparent.png" alt="Logo">
                    </a>
                </div>
                <div class="top-nav-bar-right">
                    <div class="search-bar">
                        <form class="search-bar">
                            <label for="searchTextBar" id="searchTextBar-label">Empty</label>
                            <input type="text" id="searchTextBar" name="searchTextBar">
                            <label for="search-bar-btn" id="search-bar-btn-label">
                                <button type="submit" id="search-bar-btn">
                                    <img alt="search icon" src="/images/search.png">
                                </button>
                            </label>
                        </form>
                    </div>

                    <div class="top-nav-bar-right-div">
                        <a href="<%= loggedIn ? '/cart/getCart/' + user_id : '/auth/login' %>">
                            <img alt="Neptune's Nook Shopping Cart Image" src="/images/shopping-cart.png">
                        </a>
                    </div>
                    <div class="top-nav-bar-right-div" id="drop-down-nav-div">
                        <% if (!loggedIn) { %>
                            <a href="/auth/login">
                                <img alt="Neptune's Nook Account Image" src="/images/user.png">
                            </a>
                        <% } else { %>
                            <img alt="Neptune's Nook Account Image" src="/images/user.png">
                            <div class="dropdown-div">
                                <% if (user_type === 'admin') { %>
                                    <a href="/user/admin/bulk-upload">Bulk Upload</a>
                                    <a href="/products/admin/product-edit">Product Edit</a>
                                <% } %>
                                <a href="/auth/logout">Logout</a>
                            </div>
                        <% } %>
                    </div>

                    <div id="top-nav-bar-right-ham-div">
                        <button type="button" onclick="displayBottomNav()">
                            <img alt="hamburger button" src="/images/menu.png" id="top-nav-bar-right-ham-img">
                        </button>

                    </div>
                </div>
            </div>
            <div id="bottom-nav-bar">
                <div id="search-bar-bottom-div">
                    <form class="search-bar-bottom">
                        <label for="searchTextBar-bottom" id="searchTextBar-label-2">Empty</label>
                        <input type="text" id="searchTextBar-bottom" name="searchTextBar-bottom">
                        <label for="search-bar-bottom-btn">
                            <button type="submit" id="search-bar-bottom-btn">
                                <img alt="search icon" src="/images/search.png">
                            </button>
                        </label>
                    </form>
                </div>
                <ul>
                    <li>
                        <a href="/products/category/1">
                            Fish Tanks
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/2">
                            Tank Supplies
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/3">
                            Tank Decor
                        </a>
                    </li>
                    <li>
                        <a href="/products/category/4">
                            Fish
                        </a>
                    </li>
                </ul>
            </div>
            <div id="bottom-nav-bar-admin">
                <ul>
                    <li>
                        <a href="bulk-upload.html">
                            Bulk Upload Products
                        </a>
                    </li>
                    <li>
                        <a href="product-edit.html">
                            Edit Product
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>

        <section id="bu-instructions-section">
            <h1>
                Bulk Upload Instructions
            </h1>
            <figure>
                <img src="/images/example-json.png" alt="A image of a json file">
                <figcaption>A json file</figcaption>
            </figure>
            <ol>
                <li>Please select a .json file that is wirtten as the picture above</li>
                <ul>
                    <li>It can have NULL properties if there is nothing to fill out for a section</li>
                </ul>
                <li>Once you are done, press upload</li>
            </ol>
        </section>

        <!--
        <form id="bulk-upload-form">
            <div class="form-label-div" id="bulk-upload-form-div">
                <label for="json-file-input">Select a file:</label>
                <input type="file" id="json-file-input" accept=".json">
            </div>
            <button type="submit" id="bulk-upload-form-btn">Upload</button>
        </form>
        -->

        <form id="bulk-upload-form" method="POST" action="/products/bulk-upload">
            <div class="form-label-div" id="bulk-upload-form-div">
                <label for="json-file-input">Select a file:</label>
                <input type="file" id="json-file-input" name="Upload" accept=".json">
                <textarea id="json-textarea" name="jsonData" style="visibility:hidden; height:0;"></textarea>
            </div>
            <button type="submit" id="bulk-upload-form-btn">Upload</button>
        </form>

    </main>
    <footer>
        <div class="footer-div">
            <ul class="footer-ul-left">
                <li class="ul-li-heading">
                    <h2>Categories</h2>
                </li>
                <li><a href="/products/category/1">Fish Tanks</a></li>
                <li><a href="/products/category/2">Fish Tank Supplies</a></li>
                <li><a href="/products/category/3">Tank decor</a></li>
            </ul>
            <ul class="footer-ul-right">
                <li class="ul-li-heading">
                    <h2>Services</h2>
                </li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Tank Installation</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="footer-ul-right" id="footer-copyright">
                <li class="ul-li-heading">
                    <h2>Neptune's Nook &copy;</h2>
                </li>
                <li>All rights reserved.</li>
            </ul>
        </div>
    </footer>
</body>

</html>