<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/admin.css">
    <link rel="icon" type="icon/neptune-nook-icon" href="/images/logo-transparent.png">
    <script src="/js/Script.js" defer></script>
    <title>
        <%= title %>
    </title>
</head>