body,
html {
    background-color: #8fbaf3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 0px;
    /*
    height: 100%;
    min-height: 100vh;
    */
    width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header */
.nav-bar {
    width: 100%;
    padding: 0px 0px 15px 0px;
    margin-bottom: 10px;
    background-color: #559cff;
}

.nav-bar-indexp {
    margin-bottom: 0px;
}

.top-nav-bar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-nav-bar-left {
    float: left;
    width: 70px;
    height: 100%;
    margin: 0px 20px;
}

.top-nav-bar-left a,
.top-nav-bar-left a img {
    display: block;
    height: 70px;
    width: 70px;
}

.top-nav-bar-right {
    float: right;
    width: 80%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.search-bar {
    display: inline-flex;
    width: 100%;
    height: 40px;
    margin: 0px 20px;
}

#searchTextBar-label {
    display: none;
}

.search-bar input[type=text] {
    padding: 10px;
    border: 5px solid #2a83ff;
    float: left;
    width: 95%;
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
}

.search-bar input[type=text]:focus {
    outline: none;
}

.search-bar label {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.search-bar label button {
    border: 0px;
    padding: 0px 10px 0px 0px;
    width: 50px;
    height: 40px;
    background-color: #2a83ff;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar label img {
    height: 30px;
    width: 30px;
}

.top-nav-bar-right-div {
    margin: 0px 20px;
}

.top-nav-bar-right-div a,
.top-nav-bar-right-div img {
    display: block;
    height: 30px;
    width: 30px;
}

.dropdown-div {
    display: none;
    position: absolute;
    background-color: #2a83ff;
    min-width: 175px;
    right: 0px;
    top: 70px;
}

.dropdown-div a {
    display: block;
    text-decoration: none;
    text-align: center;
    height: 50px;
    width: 100%;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
}

.dropdown-div a:hover {
    background-color: #4592fd;
}

#top-nav-bar-right-ham-div,
.search-bar-bottom {
    display: none;
}

#bottom-nav-bar,
#bottom-nav-bar-admin {
    height: 50px;
    width: 100%;
}

#bottom-nav-bar ul,
#bottom-nav-bar-admin ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

#bottom-nav-bar ul li,
#bottom-nav-bar-admin ul li {
    display: block;
    height: 50px;
    width: 150px;
    padding: 0px 10px;
    margin: 0px 10px;
}

#bottom-nav-bar ul li a,
#bottom-nav-bar-admin ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    height: 50px;
    width: 100%;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
}

#bottom-nav-bar ul li a:hover,
.footer-div li:hover {
    background-color: #4592fd;
}

#bottom-nav-bar-admin {
    background-color: #2a83ff;
}

#bottom-nav-bar-admin ul li {
    width: 250px;
}

#bottom-nav-bar-admin ul li a:hover {
    background-color: #2477eb;
}


/* Footer */
footer {
    background-color: #559cff;
    margin: auto 0px 0px 0px;
    /* 10px 0px 0px 0px */
    padding: 15px;
}

.footer-div {
    display: flex;
    gap: 50px;
}

.footer-div a {
    text-decoration: none;
    color: #000000;
}

.footer-ul-left,
.footer-ul-right {
    list-style-type: none;
    padding: 0%;
    margin: 0px;
}

.footer-ul-left {
    float: left;
}

.footer-ul-right {
    float: right;

}

.ul-li-heading h2,
.ul-li-heading {
    margin: 0px;
}

.footer-div li {
    margin: 10px 0px;
}

/* Main */
main {
    width: 100%;
    height: max-content;
}

.hidden {
    display: none;
}

/* bulk-upload HTML Main CSS */
#bu-instructions-section {
    width: 90%;
    height: auto;
    margin: 20px auto;
}

#bu-instructions-section h1,
#bu-instructions-section figure figcaption {
    margin: 5px 0px;
}

#bu-instructions-section figure {
    width: 100%;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#bu-instructions-section figure img {
    width: 70%;
    height: max-content;
}

#bulk-upload-form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid #2a83ff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-label-div {
    margin: 15px 0px;
}

.form-label-div input::file-selector-button {
    height: 50px;
    width: 150px;
    border-radius: 20px;
    outline: none;
    background-color: #4592fd;
    border: none;
    font-weight: bold;
}

#bulk-upload-form-div {
    margin: 0px;
    display: flex;
    align-items: center;
    float: left;
}

#bulk-upload-form-div label {
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0px 20px 0px 0px;
}

#bulk-upload-form-btn {
    float: right;
    outline: none;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background-color: #4592fd;
}

#bulk-upload-form-btn:hover {
    background-color: #559cff;
}

/* Product-edit html CSS */
.filtering-div {
    width: 90%;
    margin: 20px auto;
}

.filtering-div h3,
.products-listing-container h3 {
    margin: 5px 0px;
}

.search-bar-filter {
    display: inline-flex;
    width: 100%;
    height: 40px;
}

#search-bar-filter-label {
    display: none;
}

.search-bar-filter input[type=text] {
    padding: 10px;
    border: 5px solid #2a83ff;
    float: left;
    width: 95%;
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
}

.search-bar-filter input[type=text]:focus {
    outline: none;
}

.search-bar-filter label {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.search-bar-filter label button {
    border: 0px;
    padding: 0px 10px 0px 0px;
    width: 50px;
    height: 40px;
    background-color: #2a83ff;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-filter label img {
    height: 30px;
    width: 30px;
}

.form-filter fieldset {
    margin: 0px;
    border: none;
    padding: 0px;
}

.form-filter fieldset div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 10px 0px 0px;
}

#filtering-btn,
#create-product-btn,
.edit-btn,
.save-btn,
.cancel-btn {
    margin: 10px 0px;
    outline: none;
    height: 50px;
    width: 125px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background-color: #4592fd;
}

#filtering-btn:hover,
#create-product-btn:hover,
.edit-btn:hover {
    background-color: #559cff;
}

.products-listing-container {
    width: 90%;
    height: auto;
    margin: 20px auto;
}

#products-listing-container-heading {
    border-bottom: 2px solid #559cff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#create-product-btn,
.edit-btn {
    height: 25px;
}

.save-btn {
    height: 25px;
    background-color: #61B15A;
    margin: 0px 20px 0px 0px;
}

.save-btn:hover {
    background-color: #ADCE74;
}

.cancel-btn {
    height: 25px;
    background-color: #E76161;
    margin: 0px 20px 0px 0px;
}

.cancel-btn:hover {
    background-color: #F99B7D;
}

.hidden,
.product-listing-add-hidden {
    display: none;
}

.product-listing,
.product-listing-add-show {
    padding: 20px;
    margin: 10px 0px;
    width: 100%;
    border-bottom: 2px solid #559cff;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#product-listing-add {
    border: 2px solid #1b71e8;
}

.listing-div,
.listing-btn-div {
    margin: 5px 0px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.listing-div label,
.listing-btn-div label {
    display: block;
    width: 200px;
    margin: 0px 20px 0px 0px;
}

.listing-div input {
    height: 25px;
    width: 200px;
}

.listing-div textarea {
    min-height: 25px;
    min-width: 200px;
    max-width: 200px;
}




/* Responsive for all pages */
@media screen and (max-width: 645px) {

    #bottom-nav-bar ul li,
    #bottom-nav-bar ul li a,
    #bottom-nav-bar-admin ul li,
    #bottom-nav-bar-admin ul li a {
        height: max-content;
    }

    /* bulk-upload HTML Main CSS */
    #bulk-upload-form-div label {
        display: block;
        height: auto;
        line-height: 50px;
        margin: 0px 20px 0px 0px;
    }

}

@media screen and (max-width: 632px) {

    #bottom-nav-bar,
    #bottom-nav-bar-admin {
        height: max-content;
        width: 100%;
    }

    #bottom-nav-bar ul li,
    #bottom-nav-bar ul li a,
    #bottom-nav-bar-admin ul li,
    #bottom-nav-bar-admin ul li a {
        height: max-content;
    }

}


@media screen and (max-width: 600px) {

    .search-bar,
    #bottom-nav-bar {
        display: none;
    }

    #bottom-nav-bar,
    #bottom-nav-bar-admin {
        height: max-content;
        width: 100%;
    }

    #top-nav-bar-right-ham-div {
        display: inline-flex;
        margin: 0px 20px;
    }

    #top-nav-bar-right-ham-div button,
    #top-nav-bar-right-ham-div img {
        display: block;
        height: 30px;
        width: 30px;
        padding: 0px;
        border: none;
        background-color: transparent;
    }

    #search-bar-bottom-div {
        margin: 10px 0px;
    }

    .search-bar-bottom {
        display: inline-flex;
        width: -webkit-fill-available;
        height: 40px;
        margin: 0px 20px;
    }

    #searchTextBar-label-2 {
        display: none;
    }

    .search-bar-bottom input[type=text] {
        padding: 10px;
        border: 5px solid #2a83ff;
        float: left;
        width: 95%;
        background-color: transparent;
        border-radius: 20px 0px 0px 20px;
    }

    .search-bar-bottom input[type=text]:focus {
        outline: none;
    }

    .search-bar-bottom label {
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    .search-bar-bottom label button {
        border: 0px;
        padding: 0px 10px 0px 0px;
        width: 50px;
        height: 40px;
        background-color: #2a83ff;
        border-radius: 0px 20px 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-bar-bottom label img {
        height: 30px;
        width: 30px;
    }

    #bottom-nav-bar ul li,
    #bottom-nav-bar ul li a,
    #bottom-nav-bar-admin ul li,
    #bottom-nav-bar-admin ul li a {
        height: max-content;
    }

    #footer-copyright {
        display: none;
    }

    /* bulk-upload HTML Main CSS */
    #bulk-upload-form {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        border-radius: 20px;
        border: 5px solid #2a83ff;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-content: center;
    }
}