body,
html {
    background-color: #8fbaf3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 0px;
    /*
    height: 100%;
    min-height: 100vh;
    */
    width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.nav-bar {
    width: 100%;
    padding: 0px 0px 15px 0px;
    margin-bottom: 10px;
    background-color: #559cff;
}

.nav-bar-indexp {
    margin-bottom: 0px;
}

.top-nav-bar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-nav-bar-left {
    float: left;
    width: 70px;
    height: 100%;
    margin: 0px 20px;
}

.top-nav-bar-left a,
.top-nav-bar-left a img {
    display: block;
    height: 70px;
    width: 70px;
}

.top-nav-bar-right {
    float: right;
    width: 80%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.search-bar {
    display: inline-flex;
    width: 100%;
    height: 40px;
    margin: 0px 20px;
}

#searchTextBar-label {
    display: none;
}

.search-bar input[type=text] {
    padding: 10px;
    border: 5px solid #2a83ff;
    float: left;
    width: 95%;
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
}

.search-bar input[type=text]:focus {
    outline: none;
}

.search-bar label {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.search-bar label button {
    border: 0px;
    padding: 0px 10px 0px 0px;
    width: 50px;
    height: 40px;
    background-color: #2a83ff;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar label img {
    height: 30px;
    width: 30px;
}

.top-nav-bar-right-div {
    margin: 0px 20px;
}

.top-nav-bar-right-div a,
.top-nav-bar-right-div img {
    display: block;
    height: 30px;
    width: 30px;
}

.dropdown-div {
    display: none;
    position: absolute;
    background-color: #2a83ff;
    min-width: 175px;
    right: 0px;
    top: 70px;
}

.dropdown-div a {
    display: block;
    text-decoration: none;
    text-align: center;
    height: 50px;
    width: 100%;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
}

.dropdown-div a:hover {
    background-color: #4592fd;
}

#top-nav-bar-right-ham-div,
.search-bar-bottom {
    display: none;
}

#bottom-nav-bar {
    height: 50px;
    width: 100%;
}

#bottom-nav-bar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

#bottom-nav-bar ul li {
    display: block;
    height: 50px;
    width: 150px;
    padding: 0px 10px;
    margin: 0px 10px;
}

#bottom-nav-bar ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    height: 50px;
    width: 100%;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
}

#bottom-nav-bar ul li a:hover,
.footer-div li:hover {
    background-color: #4592fd;
}

/* Footer */
footer {
    background-color: #559cff;
    margin: auto 0px 0px 0px;
    /* 10px 0px 0px 0px */
    padding: 15px;
}

.footer-div {
    display: flex;
    gap: 50px;
}

.footer-div a {
    text-decoration: none;
    color: #000000;
}

.footer-ul-left,
.footer-ul-right {
    list-style-type: none;
    padding: 0%;
    margin: 0px;
}

.footer-ul-left {
    float: left;
}

.footer-ul-right {
    float: right;

}

.ul-li-heading h2,
.ul-li-heading {
    margin: 0px;
}

.footer-div li {
    margin: 10px 0px;
}

/* Main */
main {
    width: 100%;
    height: max-content;
}

.hidden {
    display: none;
}
/* Index HTML Main CSS */

#welcome-splash {
    background-image: url(../images/fish_banner_x500_1_x500.jpg);
    height: 800px;
    width: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-splash h1,
#welcome-splash h2,
#welcome-splash h4 {
    margin: 5px 0px;
    text-transform: uppercase;
    color: #ffffff;
}

#welcome-splash h1 {
    font-size: 3em;
}

#welcome-splash a {
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    background-color: #4592fd;
    margin: 15px 0px;
}

#welcome-splash a:hover {
    background-color: #559cff;
}

#trending-products-div {
    width: 100%;
}

#trending-products-div h1 {
    text-align: center;
    margin: 20px 0px 10px 0px;
}

#trending-products-container-div {
    gap: 10px;
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.product-div {
    height: max-content;
    padding: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-div img {
    width: 125px;
    height: 125px;
}

.product-div-name,
.product-div-price,
.product-div a {
    text-align: center;
    font-size: 100%;
    margin: 5px 0px;
}

.product-div-name {
    display: flex;
    margin: 10px 0px;
    height: 60px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-div a {
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    height: 50px;
    width: 100px;
    line-height: 50px;
    color: #000000;
    background-color: #4592fd;
}

/* products html main css */
.products-container-div {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px 0px;
}

.products-container-div h1 {
    text-align: center;
    margin: 5px 0px;
}

.products-filter-aside {
    float: left;
    height: max-content;
    width: 20%;
}

.label-div h4 {
    margin: 5px 0px 0px 0px;
    font-size: 1em;
}

.label-div fieldset {
    margin: 0px;
    border: none;
    padding: 5px;
}

.label-div fieldset div {
    margin: 5px 0px;
}

.products-listing-sections {
    float: right;
    height: max-content;
    width: 78%;
}

.products-row-div {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px 0px;
}

/* details html main css */
.products-details-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px 0px;
}

.products-details-left-div {
    float: left;
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.products-details-img {
    height: 50%;
    width: 65%;
}

.products-details-right-div {
    float: right;
    width: -webkit-fill-available;
    padding: 0px 15px;
    height: max-content;
}

.products-details-right-div h1 {
    text-align: center;
    margin: 5px 0px;
}

.products-details-right-div p,
.products-details-right-div h3 {
    margin: 5px 0px;
}

.products-details-ratings-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.products-details-stars ul {
    list-style: none;
    padding: 0px;
    margin: 5px 0px;
}

.products-details-stars ul li {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    color: #FF8911;
}

.products-details-ratings {
    margin: 0px 10px;
}

.products-details-ratings a {
    font-size: 1em;
}

.products-details-pricing-div {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.products-details-pricing {
    font-size: 1.2em;
}

.products-details-interesting ul {
    margin: 5px 0px;
    padding: 0px 0px 0px 20px;
}

.products-details-shipping-zip {
    height: 30px;
    display: flex;
    align-items: center;
}

.products-details-shipping-div {
    background-color: #99c1f5;
}

.products-details-shipping-div img {
    width: 1.5em;
    margin-right: 10px;
}

.products-details-shipping-div p {
    padding-left: 2.1em;
}

#shipping-zipcode {
    margin: 0px 0px 0px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 50px;
}

input#shipping-zipcode::-webkit-outer-spin-button,
input#shipping-zipcode::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.products-details-cart-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.products-details-input-div {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#quantity-input {
    margin: 0px 0px 0px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 50px;
}

#add-cart-btn {
    height: inherit;
    width: -webkit-fill-available;
    outline: none;
    border: none;
    background-color: #F1C93B;
    font-weight: bold;
    border-radius: 10px;
}

#add-cart-btn:hover {
    background-color: #FBD85D;

}

.products-details-ratings-div,
.products-details-pricing-div,
.products-details-desc,
.products-details-interesting,
.products-details-shipping-div,
.products-details-cart-div {
    margin: 10px 0px;
}

/* shopping cart main html css */
.shopping-cart-container {
    width: 90%;
    padding: 0px 20px;
    margin: 40px auto;
}

.shopping-cart-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.shopping-cart-container h2,
.shopping-cart-item-div p {
    margin: 5px 0px;
}

.shopping-cart-item-div {
    margin: 10px 0px;
    padding: 5px 0px;
    display: flex;
    gap: 20px;
}

.shopping-cart-item-left {
    float: left;
    width: 5%;
}

.shopping-cart-item-img {
    width: 100%;
}

.shopping-cart-item-right {
    float: right;
    width: -webkit-fill-available;
}

.shopping-cart-item-info {
    display: flex;
    justify-content: space-between;
}

.shopping-cart-item-info-price {
    font-weight: bold;
}

.shopping-cart-item-right-btns {
    display: flex;
    gap: 20px;
}

.shopping-cart-item-right-btns form {
    display: contents;
}

.shopping-cart-item-quantity-div {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#shopping-cart-item-quantity-input {
    margin: 0px 0px 0px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 50px;
}

.shopping-cart-item-quantity-btn,
.shopping-cart-item-remove-btn,
#shopping-cart-zipcode-btn,
#shopping-cart-checkout-btn {
    height: inherit;
    width: 200px;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}

#shopping-cart-zipcode-btn,
#shopping-cart-checkout-btn {
    width: 160px;
    margin: 10px 0px;
    padding: 10px;
}

.shopping-cart-item-quantity-btn,
#shopping-cart-zipcode-btn,
#shopping-cart-checkout-btn {
    background-color: #4592fd;
}

.shopping-cart-item-remove-btn {
    background-color: #ED2B2A;
}

.shopping-cart-item-quantity-btn:hover,
#shopping-cart-zipcode-btn:hover,
#shopping-cart-checkout-btn:hover {
    background-color: #559cff;
}

.shopping-cart-item-remove-btn:hover {
    background-color: #F15A59;
}

.shopping-cart-bottom-div {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
}

.shopping-cart-zipcode-div {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    width: max-content;
}

#shopping-cart-zipcode {
    margin: 0px 0px 0px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 50px;
}

input#shopping-cart-zipcode::-webkit-outer-spin-button,
input#shopping-cart-zipcode::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shopping-cart-bottom-two-div {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.shopping-cart-bottom-two-btn-div {
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;
}

/* Login and Register Main HTML CSS */
#register-div,
#login-div,
.message-div {
    width: 70%;
    padding: 20px;
    margin: 40px auto;
    border-radius: 30px;
    border: solid 5px #2a83ff;
}

.message-div {
    border: solid 5px #ff3f2a;
}

#register-div h1,
#login-div h1,
.message-div h1 {
    text-align: center;
    margin: 5px 0px;
}

.form-div {
    margin: 15px 0px;
}

.form-div label {
    display: block;
    font-size: 1.05em;
}

.multi-div {
    text-align: center;
    margin: 15px 0px 0px 0px;
}

.multi-div a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: block;
    font-size: 1.05em;
    margin: 5px 0px;
}

.multi-div a:hover {
    color: #ffffff;
}

#first-name,
#last-name,
#email,
#password,
#confirm-password {
    margin-top: 10px;
    background-color: transparent;
    border: 5px solid #2a83ff;
    border-radius: 20px;
    width: -webkit-fill-available;
    height: 25px;
    padding: 5px 10px;
    font-size: 1.05em;
}

#first-name:focus,
#last-name:focus,
#email:focus,
#password:focus,
#confirm-password:focus {
    outline: none;
    border: 5px solid #61a3ff;
}

#register-btn,
#login-btn {
    background-color: #2a83ff;
    border: none;
    border-radius: 20px;
    width: -webkit-fill-available;
    height: 50px;
    padding: 5px 10px;
    margin: 5px 0px;
    font-size: 1.05em;
    outline: none;
    color: #ffffff;
}

#register-btn:hover,
#login-btn:hover {
    background-color: #61a3ff;
    outline: none;
}


/* Responsive for all pages */
@media screen and (max-width: 730px) {

    /* products html*/
    .products-filter-aside {
        width: 30%;
    }

    .products-listing-sections {
        width: 68%;
    }
}


@media screen and (max-width: 635px) {

    #bottom-nav-bar,
    #bottom-nav-bar ul li,
    #bottom-nav-bar ul li a {
        height: max-content;
    }

    /* products html*/
    .products-filter-aside {
        width: 40%;
    }

    .products-listing-sections {
        width: 58%;
    }

    /* cart html */
    .shopping-cart-item-right {
        width: 92%;
    }
}

@media screen and (max-width: 632px) {

    #bottom-nav-bar,
    #bottom-nav-bar ul li,
    #bottom-nav-bar ul li a {
        height: max-content;
    }

    /* index html */
    #trending-products-container-div {
        gap: 10px;
        width: 90%;
        margin: 0px auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    /* products html*/
    .products-filter-aside {
        width: 40%;
    }

    .products-listing-sections {
        width: 58%;
    }

    /* cart html */
    .shopping-cart-item-right {
        width: 90%;
    }
}


@media screen and (max-width: 600px) {

    .search-bar,
    #bottom-nav-bar {
        display: none;
    }

    #bottom-nav-bar {
        height: max-content;
        width: 100%;
    }

    #top-nav-bar-right-ham-div {
        display: inline-flex;
        margin: 0px 20px;
    }

    #top-nav-bar-right-ham-div button,
    #top-nav-bar-right-ham-div img {
        display: block;
        height: 30px;
        width: 30px;
        padding: 0px;
        border: none;
        background-color: transparent;
    }

    #search-bar-bottom-div {
        margin: 10px 0px;
    }

    .search-bar-bottom {
        display: inline-flex;
        width: -webkit-fill-available;
        height: 40px;
        margin: 0px 20px;
    }

    #searchTextBar-label-2 {
        display: none;
    }

    .search-bar-bottom input[type=text] {
        padding: 10px;
        border: 5px solid #2a83ff;
        float: left;
        width: 95%;
        background-color: transparent;
        border-radius: 20px 0px 0px 20px;
    }

    .search-bar-bottom input[type=text]:focus {
        outline: none;
    }

    .search-bar-bottom label {
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    .search-bar-bottom label button {
        border: 0px;
        padding: 0px 10px 0px 0px;
        width: 50px;
        height: 40px;
        background-color: #2a83ff;
        border-radius: 0px 20px 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-bar-bottom label img {
        height: 30px;
        width: 30px;
    }

    #bottom-nav-bar ul li,
    #bottom-nav-bar ul li a {
        height: max-content;
    }

    #footer-copyright {
        display: none;
    }

    /* index html */
    #trending-products-container-div {
        gap: 10px;
        width: 90%;
        margin: 0px auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    /* products html*/
    .products-filter-aside {
        width: 40%;
    }

    .products-listing-sections {
        width: 58%;
    }

    /* cart html */
    .shopping-cart-item-right {
        width: 90%;
    }
}