.nav-bar {
    width: 100%;
}
.top-nav-bar {
    display: flex;

    height: 50px;
    width: 100%;
    background-color: skyblue;
}
.top-nav-bar-left {
    float: left;
    width: 60px;
    height: 100%;
}
.top-nav-bar-left a {

}
.top-nav-bar-left a img {

}
.top-nav-bar-right {
    float: right;
    width: 70%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.search-bar {
    display: inline-flex;
}
.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
.search-bar label {
    width: 50px;
    height: 50px;
    display: inline-block;
}
.search-bar label button {
    border: 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
}
.search-bar label img {
    height: 100%;
    width: 100%;
}


img {
    height: 40px;
}

footer {

}
.footer-div {
    display: flex;
    
}
.footer-div a {
    text-decoration: none;
}
.footer-ul-left {
    list-style-type: none;
    float: left;
    padding: 0%;
    margin: 5px 10px;

}

.footer-ul-right {
    list-style-type: none;
    float: right;
    padding: 0%;
    margin: 5px 10px;
}